button {
  color: #493656;
  background: white;
  border: none;
  padding: 1rem 1.5rem;
  font-size: inherit;
  align-self: center;
  transition: 0.15s;
}

button:hover {
  outline: 2px solid white;
  outline-offset: -2px;
  background: none;
  color: white;
}

button:active {
  scale: 0.95
}